.slick-slide {
    position: relative;
  }
  
  .slick-slide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/i1.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: -1;
  }
  
  .ui.container {
    position: relative;
    z-index: 1;
  }
  